* {
	font-family:BPG Nino Mtavruli;
	font-weight: bold;

}
header {
	margin:0;
}
nav {
	margin-top: 30px;
	margin-left:20px;
}
ul {
	margin: 0;
	padding:0;
	list-style-type: none;
	overflow: hidden;
}

ul li a {
	margin:10px;
	display: block;
	color: #3D58A6;
	font-size: 22px;
	text-decoration: none;
}

.active {
	color:#4AC20E;
}

ul li a:hover {
	transition: 0.5s;
	color: #4AC20E;
}

.banner {
	margin-left:30px;
	margin-right:40px;
	border: 5px solid #4AC20E;
	border-radius:10px;
	padding-left:20px;
}

h1 {
	margin: 10px;
	color:#3D58A6;
	font-size: 30px;
}

.images {
	margin-top: 10px;
	margin-left: 30px;
}

.img1 {
	margin-right:25px;
}

.text {
	font-size: 22px;
	color:#3D58A6;
	margin-left: 30px;
	margin-top: 70px;
	margin-right: 95px;
}

.text2 {
	text-decoration: none;
	display: inline-block;
	border-bottom:5px solid #3D58A6;
	color:#3D58A6;
}

.text2:hover{
	transition: 0.5s;
	color:#4AC20E;
	border-bottom:5px solid #4AC20E;
}

footer {
	margin-top: 100px;
	border-top:1px solid #707070;
	text-align: center;
}

.footertext {
	color:#3D58A6;
	font-size: 25px;
}